#header{
    position: absolute;
    z-index: -2;
    height: 1024px;
    width: 100%;
    background-image: url("photo/background-01.png");
}

.background01{
    position: absolute;
    z-index: -2;
    width: 1920;
    height: 2589;
}

.background6_1{
    position: absolute;
    top: 500;
    z-index: -1;
    width: 1920;
    height: 1453.29;
}

.navBarPizza{
    width: 100%;
    border: white solid 1px;
}

.italianCuisine{
    position: absolute;
    z-index: 1;   
    top: 300px;
}